<!-- GLOBAL NAVIGATION -->
<header class="top-nav">
    <a href="/home" class="nav-home-logo">
        <img src="/images/stephens-logo.svg" alt="Stephens College" class="stephens-block-logo">
    </a>

    <div class="nav-left">
        <a href="/dashboard">Dashboard</a>
        <a href="/groups">Groups</a>
        <a href="/events">Events</a>
    </div>

    <div class="nav-center">
        <a href="/home" class="nav-brand-link">
            <span>Stephens College Wellness</span>
        </a>
    </div>

    <div class="nav-right">
        <a href="/profile"><i class="bi bi-person-circle"></i> Profile</a>
        <a href="/auth/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
    </div>
</header>
